langchain==1.2.15
langchain-community==0.4.1
langchain-core==1.3.2
langchain-text-splitters==1.1.2
numpy==2.2.6
pandas==2.2.3
pymupdf==1.27.2.3
python-dotenv==1.1.1
qdrant-client>=1.10,<1.14
sentence-transformers==4.1.0
tqdm==4.67.1
yandex-cloud-ml-sdk==0.19.1
deepeval==3.7.0
ipywidgets==8.1.7
langchain-openai==1.2.1
streamlit==1.44.0
tinydb==4.8.2